dataset/videos_frases
frases_dataset.json
modelo_traductor_frases.h5
models/old/landmarks_dataset.json
models/old/modelo_signos.h5
# Ignorar dependencias
node_modules/

# Ignorar datasets
dataset/videos
landmarks_dataset.json

# Otros posibles archivos temporales o del sistema
.DS_Store
.env
dist/
build/